
<div class="d-flex justify-content-center m-3">
  <div class="your-class">
    <h1>New Post</h1>
  </div>
</div>

<div class="d-flex justify-content-center m-3">
  <div class="your-class">
    <%= render "form", post: @post %>
  </div>
</div>

<br/>




<div class="d-flex justify-content-center m-1">
  <div class="your-class">
    <div><%= link_to "Back to posts", posts_path %></div>
  </div>
</div>


