
<div class="d-flex justify-content-center pr-3">
  <div class="your-class">
        <h2>Search Results:</h2>
    </div>
</div>

<div class="d-flex justify-content-center pr-3">
  <div class="your-class">
        <ul>
        <% @posts.each do |post| %>
            <li><%= post.title %></li>
        <% end %>
        </ul>
    </div>
</div>

